# The number of milliseconds of each tick
tickTime={{ getv "/zookeeper/ticktime" }}
# the directory where the snapshot is stored.
dataDir={{ getv "/zookeeper/datadir" }}
# the directory where transaction logs are stored
dataLogDir={{ getv "/zookeeper/datalogdir" }}
# the port at which the clients will connect
clientPort={{ getv "/zookeeper/port" }}
# the maximum number of client connections.
# increase this if you need to handle more clients
maxClientCnxns={{ getv "/zookeeper/maxclientcnxns" }}

{{ with $servers := split (getv "/zookeeper/servers") " " }}
{{ if gt ($servers | len) 1 -}}

# The number of ticks that the initial
# synchronization phase can take
initLimit={{ getv "/zookeeper/initlimit" }}
# The number of ticks that can pass between
# sending a request and getting an acknowledgement
syncLimit={{ getv "/zookeeper/synclimit" }}
# List the servers
{{- range $servers  }}
{{ . }}
{{- end -}}{{/* end range */}}
{{- end -}}{{/* end if */}}
{{- end -}}{{/* end with */}}

