[Unit]
Description=Lightweight configuration management tool
Requires=rocknsm-metadata.service
After=rocknsm-metadata.service

[Service]
Type=oneshot
EnvironmentFile=/run/metadata/environ
ExecStart=/usr/bin/confd -backend etcd ${ETCD_LISTEN_CLIENT_URL}
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=basic.target
