[Unit]
Description=Lightweight configuration management tool
Requires=rocknsm-metadata.service
After=rocknsm-metadata.service

[Service]
Type=simple
EnvironmentFile=/run/metadata/environ
ExecStart=/usr/bin/confd -backend etcd -node ${ETCD_LISTEN_CLIENT_URL}
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=basic.target

