############################# Server Basics #############################

############################ Everything Else #############################
# See https://kafka.apache.org/documentation/#brokerconfigs for all possible
# configuration options. These should be specified as a json key:value dict
# located at the key "/kafka/broker/conf"
##########################################################################

{{ range $key, $value := json (getv "/kafka/broker/conf") -}}
{{ $key }}={{ $value }}
{{ end -}}
