[Unit]
Description=Setup Bro scripts
Before=bro.service
After=confd.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/rock-scripts-update.sh
RemainAfterExit=true
StandardOutput=journal

[Install]
WantedBy=basic.target
Wants=confd.service
