{{ $num_loggers := getv "/bro/node/numloggers" "1" }}
{{- range seq (1 $num_loggers) }}
[logger-{{.}}]
type=logger
host=localhost
env_vars=fanout_id=0
{{ end }}

[manager]
type=manager
host=localhost
env_vars=fanout_id=0

[proxy-1]
type=proxy
host=localhost
env_vars=fanout_id=0

[{{ getv "/bro/node/interface" "eth1" }}]
type=worker
host=localhost
{{ if gt (getv "/bro/node/numworkers" "1") 1 }}
interface=af_packet::{{ getv "/bro/node/interface" "eth1" }}
lb_method=custom
lb_procs={{ getv "/bro/node/numworkers" }}
{{ else }}
interface={{ getv "/bro/node/interface" "eth1" }}
{{ end }}
# This must be unique for every AF_PACKET "process group"
env_vars=fanout_id={{ getv "/bro/node/fanout_id" "42" }}
